body.about {
  background: #38598b;
  width: 100%;
  height: 100%;
  /* min-width: 360px; */
  overflow: visible;
  margin: 0;
  padding: 0;
}

.div-container-About {
  background: green;
}

/* NAV BAR ---------------------------------*/

.ul-About {
  position: fixed;
  overflow: hidden;
  list-style-type: none;
  z-index: 1;
}

.out-About {
  float: left;
}

.out-About .a {
  text-decoration: none;
  color: #e3e3e3;
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.85rem, 1.5vw, 1.5rem);
  text-align: center;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  margin-left: 0.2em;
  display: inline-block;
}

.inhouse-About {
  display: none;
  min-width: 3rem;
}

.inhouse-About a {
  color: #e3e3e3;
  display: inline-block;
  text-align: center;
}

.out-About {
  display: inline-block;
}

.out-About a:hover {
  background-color: #233142;
  color: #e3e3e3;
}

.out-About:hover .inhouse-About {
  display: inline-block;
}

/* NAV BAR END---------------------------------*/

.container-About {
  position: absolute;
  display: grid;
  place-content: center;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-content: space-evenly;
  /* min-width: 700px; */
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.85rem, 1.5vw, 1.5rem);
  line-height: 2rem;
  margin: 5rem 1rem 2rem 1rem;

}

.aboutMe {
  grid-row: span 6;
  /* background: white; */
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 1rem;
  
}
.title-AboutMe {
  color: white;
  justify-self: center; 
  grid-column-start: 1;
  grid-row: 1fr;
}
.content-AboutMe {
  color: white;
  text-align: center;
  grid-row: span 3;
   
}

.anim-About-Center {
  grid-row: span 6;
  /* background: white; */
  padding: 1rem;
}

/* ------------------SKLILLS------------------------- */
.mySkills {
  grid-row: span 6;
  color: white;
  /* background: white; */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;

}

.skills-Ul {
  list-style-type: none;
}

.sklills-Tit {
  grid-column-start: 1;
  grid-column: span 2;
  grid-row-start: 1;
  justify-self: center;

}
.skills-Front{
  grid-column: 1fr;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-self: center;
}
.skills-Back {
  grid-column: 1fr;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;

}
.skills-Source {
  grid-column: 1fr;
  grid-column-start: 1;
  grid-row-start: 3;
  justify-self: center;

}
.skills-3D {
  grid-column: 1fr;
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: center;

}

/* ------------------SKLILLS------------------------- */


/* -------------- MEDIA QUERY ------------------------ */

 /* @media only screen and (max-width: 420px) {
  body.about {
  background: orange;
  padding: 0;
  margin: 0;
  }
    
  .canvas-About {    
    width: 100%;
    position: absolute;
    z-index: -1;
    padding: 0;
    margin: 0;
    }
}  */

