body.arkanoid {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  min-width: 390px;

  position: fixed;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  background: #272730;
  cursor: url("https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png")
      39 39,
    auto;
  image-rendering: auto;
}

.main-Arkanoid {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #242438;
}

Canvas {
  position: absolute;
  width: 100%;
  height: 100%;

  
}
/* NAV BAR END---------------------------------*/


.ul-Arkanoid {
  /* position: fixed; */
  overflow: hidden;
  list-style-type: none;
  margin-top: 0;
  margin-left: -1rem;
  padding-top: 0;
 
}

.out-Arkanoid {
  float: left;
}

.out-Arkanoid .a {
  text-decoration: none;
  color: #e3e3e3;
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.85rem, 1.5vw, 1.5rem);
  text-align: center;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem ;
  margin-left: 0.2em;
  display: inline-block;
}

.inhouse-Arkanoid {
  display: none;
  min-width: 3rem;
}

.inhouse-Arkanoid a {
  color: #e3e3e3;
  display: inline-block;
  text-align: center;

}

.out-Arkanoid {
  display: inline-block;
}

.out-Arkanoid a:hover {
  background-color: #233142;
  color: #e3e3e3;
}

.out-Arkanoid:hover .inhouse-Arkanoid {
  display: inline-block;
}

/* .out-Arkanoid:hover .img-Arkanoid {
  display: none;
} */

/* NAV BAR END---------------------------------*/

/* @media only screen and (max-width: 600px) {
} */
@media only screen and (orientation:portrait) {
  body.Arkanoid {
    width: 100vw;
    transform: rotate(45deg);
  }
}