body.home {
  background: #455d7a;
  width: 100%;
  height: 100%;
  min-width: 390px;
  position: absolute;
  z-index: -2;
  margin: 0;
  padding: 0;
}

.div-container-Home {
  background-color: #455d7a;
}

.canvas-Home {
  background: #455d7a;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
}


.main-Home {
  display: grid;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* min-width: 300px; */
  z-index: 3;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

.header-Home {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 2vw, 4rem);
  color: #e3e3e3;
  text-align: center;
  white-space: nowrap;
}

.highlight-Home {
  color: #c3195d;
}

/* Project button ---------------------*/

.box-Home {
  text-decoration: none;
}

.projects-Home {
  position: fixed;
  display: grid;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #e3e3e3 0.125em solid;
  padding: 0.25em 2rem;
  border-radius: 0.25em;

  /* font-size: clamp(1rem, 2vw, 4rem); */

  text-shadow: 0 0 0.05em hsl(0, 0%, 100%), 0 0 0.5em currentColor;
  box-shadow: inset 0 0 0.5em currentColor;
}

.projects-Home::before {
  text-decoration: none;
  content: "";
  position: absolute;
  background: #e3e3e3;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 100%;

  transform: perspective(7em) rotateX(40deg) scale(1, 0.35);
  filter: blur(0.75em);
  opacity: 0.7;
}
.projects-Home::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em #e3e3e3;
  opacity: 0;
  transition: opacity 1000ms linear;
}
.projects-Home:hover,
.projects-Home:focus {
  background: #e3e3e3;
  color: #455d7a;
  text-shadow: none;
}

.projects-Home:hover::before {
  opacity: 1;
}

.projects-Home:hover::after {
  opacity: 1;
}

/* Project button END -------------------*/



/* NAV BAR ---------------------------------*/

.ul-Home {
  position: fixed;
  overflow: hidden;
  list-style-type: none;
  margin-top: 0.5rem;
  margin-left: -1rem;
  padding-top: 0.5rem;
 
}

.out-Home {
  float: left;
}

.out-Home .a {
  text-decoration: none;
  color: #e3e3e3;
  font-family: "Raleway", sans-serif;
  font-size: clamp(0.85rem, 1.5vw, 1.5rem);
  text-align: center;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem ;
  margin-left: 0.2em;
  display: inline-block;
}

.inhouse-Home {
  display: none;
  min-width: 3rem;
}

.inhouse-Home a {
  color: #e3e3e3;
  display: inline-block;
  text-align: center;

}

.out-Home {
  display: inline-block;
}

.out-Home a:hover {
  background-color: #233142;
  color: #e3e3e3;
}

.out-Home:hover .inhouse-Home {
  display: inline-block;
}

/* .out-Home:hover .img-Home {
  display: none;
} */

/* NAV BAR END---------------------------------*/

.footer-Home {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;

  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  border: 2em;
}
